appdirs==1.4.4
bleach==3.2.1
bonobo==0.6.4
bump2version==1.0.1
bumpversion==0.6.0
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
configparser==5.0.0
crayons==0.4.0
cryptography==3.3.1
dataclasses==0.7
docutils==0.16
email-notifier==0.0.1
freezegun==1.0.0
fs==2.4.11
graphviz==0.8.4
idna==2.10
importlib-metadata==3.3.0
jeepney==0.6.0
Jinja2==2.11.2
keyring==21.5.0
MarkupSafe==1.1.1
mondrian==0.8.0
packaging==19.2
patch==1.16
pbr==5.4.5
pkginfo==1.6.1
psutil==5.7.2
psycopg2-binary==2.8.5
pycparser==2.20
pydantic==1.6.1
Pygments==2.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.14.0
python-slugify==1.2.6
pytz==2020.1
readme-renderer==28.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.0
selenium==3.141.0
six==1.15.0
SQLAlchemy==1.3.19
stevedore==1.32.0
tqdm==4.54.1
twine==3.2.0
typing-extensions==3.7.4.3
Unidecode==1.1.1
urllib3==1.25.10
webdriver-manager==3.2.2
webencodings==0.5.1
whistle==1.0.1
xlrd==1.2.0
xml-stream==0.0.2
zipp==3.4.0
